<html>
<head>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./jquery-1.8.2.min.js"></script>
    <script src="./angular.min.js"></script>
    <link rel="stylesheet" href="./bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
    <script src="./report.js"></script>
</head>
<body>

<body ng-controller="analyser" ng-init="displaySummary = false">
<div>
    <h3 align="middle" style="color:forestgreen">IMPACT ANALYSIS REPORT</h3>
</div>
<div class="alert alert-success" role="alert">
    Your impact Analysis summary.
    <span ng-hide = "displaySummary===false" class="report">Total Tests Impacted by {{pagep}} are: {{testCount}}</span>
</div>
<div class="input-group" style="width:40%">
    <select class="custom-select" ng-init="pagep ='Choose Page To Get Report'" ng-model="pagep" id="inputGroupSelect01" ng-change="loadFields(pagep)">
        <option selected>Choose Page To Get Report</option>
        <option value="{{page}}" data-ng-repeat="page in pageNames" >{{page}}</option>
    </select>
    <br/>
    <select class="custom-select" ng-init="fieldName ='Choose Field To Get Report'" ng-model="fieldName" id="inputGroupSelect02">
        <option selected>Choose Field To Get Report</option>
        <option value="{{fieldName}}" data-ng-repeat="fieldName in pageFields" >{{fieldName}}</option>
    </select>
    <br/>
    <button type="button" class="btn btn-outline-info" ng-click="loadPage(pagep, fieldName)">Info</button>
</div>
<br>
<table class="table table-bordered table-hover" align="center">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Test Class Name</th>
        <th scope="col">Test Case Name</th>
        <th scope="col">Page Name</th>
        <th scope="col">Page Methods</th>
        <th scope="col">Page Private Methods</th>
        <th scope="col">Field Name</th>
        <th scope="col">Field Class</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="testcase in testcases">
        <td>{{testcase.testClass}}</td>
        <td>{{testcase.testMethod}}</td>
        <td>{{testcase.pageName}}</td>
        <td>{{testcase.pageMethod}}</td>
        <td>{{testcase.pagePrivateMethods}}</td>
        <td>{{testcase.fieldName}}</td>
        <td>{{testcase.fieldClass}}</td>
    </tr>
    </tbody>
</table>
</body>
</body>
</html>